/*
	Example Styling for a Slideshow
*/
@media all {
	@import "compass/css3";
	@import "compass/utilities";
	@import "_definitions";
	@import "_buttons";
	/*
		Slides
	*/
	div.slideshow {
		font-size : 12px;
		height : 512px;
		overflow : hidden;
		position : relative;
		visibility : hidden;
		width : 512px;
		* {
			@include box-sizing(border-box);
			-ms-interpolation-mode: bicubic;
		}
		figure {
			@include transition-property(all);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease);
			background : #000;
			height : 70%;
			margin : 0;
			overflow : hidden;
			position : absolute;
			text-align : center;
			top : 0;
			width : 100%;
			z-index : 10;
			img {
				-ms-interpolation-mode: bicubic;
				margin : auto;
			}
			figcaption {
				background-image : url(../img/semitransparent.png)\9;
				background-color : rgba(0, 0, 0, 0.5);
				bottom : 0;
				color : #fff;
				left : 0;
				padding : 1.4em;
				position : absolute;
				width : 100%;
			}
		}
		figure.wipe_previous {
			left : -100%;
		}
		figure.wipe_current {
			left : 0%;
		}
		figure.wipe_next {
			left : 100%;
		}
		figure.fade_previous {
			@include opacity(0);
			z-index : 9;
		}
		figure.fade_current {
			@include opacity(1);
			z-index : 10;
		}
		figure.fade_next {
			@include opacity(0);
			z-index : 9;
		}
	}
	/*
		Slides Captions
	*/
	div.slideshow.captions_hover {
		figure {
			figcaption {
				@include transition(opacity ease 500ms);
				opacity : 0;
				visibility : hidden\9;
			}
		}
		&:hover {
			figure {
				figcaption {
					opacity : 1;
					visibility : visible\9;
				}
			}
		}
	}
	div.slideshow.captions_hide {
		figure {
			figcaption {
				display : none;
			}
		}
	}
	/*
		Slides Scaling
	*/
	div.slideshow.scaling_fill {
		figure {
			img {
				float : none;
				left : 50%;
				margin : auto;
				top : 50%;
				position : absolute;
			}
			img.ratio_landscape {
				height : auto;
				width : 100%;
			}
			img.ratio_portrait {
				height : 100%;
				width : auto;
			}
		}
	}
	div.slideshow.scaling_fit {
		figure {
			img {
				float : none;
				left : 50%;
				/* margins need to be set programatically to provide centering */
				margin : auto;
				top : 50%;
				position : absolute;
			}
			img.ratio_landscape {
				height : 100%;
				width : auto;
			}
			img.ratio_portrait {
				height : auto;
				width : 100%;
			}
		}
	}
	/*
		Slide Controls
	*/
	div.slideshow {
		menu.pager {
			position : absolute;
			height : 70%;
			left : 0;
			margin : 0;
			padding : 0;
			top : 0;
			width : 100%;
			button {
				@include transition-property(all);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease);
				@include opacity(0);
				@include iconParent(32);
				background-color : $color-passive;
				border : none;
				cursor : pointer;
				height : 44px;
				margin-top : -22px;
				padding : 0;
				position : absolute;
				top : 50%;
				width : 44px;
				z-index : 20;
				span {
					background : Transparent url(../img/slideshow.png) no-repeat 0 0;
					@include iconCenter(32);
				}
			}
			button.previous {
				left : 2%;
				span {
					background-position : 50% 0px;
				}
			}
			button.next {
				right : 2%;
				span {
					background-position : 50% -32px;
				}
			}
			button:hover {
				background-color : $color-hover;
			}
			button.disabled {
				background-color : $color-disabled;
				cursor : default;
			}
		}
	}
	div.slideshow:hover {
		menu.pager {
			button {
				@include opacity(1);
				visibility : visible;
			}
		}
	}
	/*
		Thumbnails Scroller
	*/
	div.slideshow {
		nav {
			bottom : 0;
			height : 28%;
			left : 0;
			overflow : hidden;
			position : absolute;
			width : 100%;
			div {
				height : 100%;
				margin : 1px 41px 0 41px;
				position : relative;
				overflow : hidden;
				ul {
					@include transition-property(all);
					@include transition-duration(0.3s);
					@include transition-timing-function(ease);
					height : 100%;
					margin : 0;
					padding : 0;
					position : relative;
					white-space : nowrap;
					z-index : 10;
					li {
						display : inline;
						list-style-type : none;
						a {
							margin-right : 1px;
							display : inline-block;
							overflow : hidden;
							position : relative;
							vertical-align : top;
							height : 100%;
							width : 25%;
							img {
								@include opacity(1);
								@include transition-property(opacity);
								@include transition-duration(0.3s);
								@include transition-timing-function(ease);
								filter : none;
								border : none;
								left : 0;
								margin-left : 0;
								margin-top : 0;
								min-height : 101%;
								min-width : 101%;
								position : absolute;
								top : 0;
							}
						}
						a:hover {
							img {
								@include opacity(1);
							}
						}
						a.thumbnails_active {
							background-color : $color-passive;
							img {
								@include opacity(0.5);
							}
						}
					}
				}
			}
		}
	}
	/*
		Thumbnails Controls
	*/
	div.slideshow {
		nav {
			menu.scroller {
				position : absolute;
				height : 100%;
				left : 0;
				margin : 1px 0 0 0;
				padding : 0;
				top : 0;
				width : 100%;
				button {
					@include iconParent(32);
					background-color : $color-passive;
					border : none;
					color : #fff;
					cursor : pointer;
					height : 100%;
					margin : 0;
					padding : 0;
					position : absolute;
					top : 0;
					width : 40px;
					z-index : 20;
					span {
						background : Transparent url(../img/slideshow.png) no-repeat 0 0;
						@include iconCenter();
					}
				}
				button:hover {
					background-color : $color-hover;
				}
				button.previous {
					left : 0;
					span {
						background-position : 50% 0px;
					}
				}
				button.next {
					right : 0;
					span {
						background-position : 50% -32px;
					}
				}
				button.disabled {
					background-color : $color-disabled;
					cursor : default;
				}
			}
		}
	}
	/*
		Thumbtacks
	*/
	div.slideshow {
		nav.navigation_thumbtacks {
			background : Transparent;
			height : 32px;
			opacity : 0.8;
			padding : 0;
			position : absolute;
			bottom : 0;
			z-index : 11;
			ul {
				line-height : 0;
				margin : 0;
				position : absolute;
				text-align : center;
				top : 0%;
				width : 100%;
				li {
					background : #fff;
					border : solid 2px #000;
					border-radius : 50%;
					display : inline-block;
					margin : 4px;
					padding : 0;
				}
				a {
					border-radius : 50%;
					border : none;
					cursor : pointer;
					display : inline-block;
					float : none;
					height : 10px;
					margin : 0;
					padding : 0;
					overflow : hidden;
					text-indent : 16px;
					white-space : nowrap;
					width : 10px;
					img {
						display : none;
					}
				}
				a.thumbtacks_active {
					background : $color-passive;
				}
			}
			menu {
				display : none;
			}
		}
	}
}
@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media print {}
