/*
	Slides Captions
*/
div.slideshow.captions_hover {
	figure {
		figcaption {
			@include transition(opacity ease 500ms);
			opacity : 0;
			visibility : hidden\9;
		}
	}
	&:hover {
		figure {
			figcaption {
				opacity : 1;
				visibility : visible\9;
			}
		}
	}
}
div.slideshow.captions_hide {
	figure {
		figcaption {
			display : none;
		}
	}
}
