/*
	Slide Controls
*/
div.slideshow {
	menu.pager {
		position : absolute;
		height : 70%;
		left : 0;
		margin : 0;
		padding : 0;
		top : 0;
		width : 100%;
		button {
			transition-property: all;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			opacity: 0;
			@include iconParent(32);
			background-color : $color-passive;
			border : none;
			cursor : pointer;
			height : 44px;
			margin-top : -22px;
			padding : 0;
			position : absolute;
			top : 50%;
			width : 44px;
			z-index : 20;
			span {
				@include iconCenter(32);
				background : Transparent url(../img/slideshow.png) no-repeat 0 0;
				background-size: auto;
			}
		}
		button.previous {
			left : 2%;
			span {
				background-position : 50% 0px;
			}
		}
		button.next {
			right : 2%;
			span {
				background-position : 50% -32px;
			}
		}
		button:hover {
			background-color : $color-hover;
		}
		button.disabled {
			background-color : $color-disabled;
			cursor : default;
		}
	}
}
div.slideshow:hover {
	menu.pager {
		button {
			opacity: 1;
			visibility : visible;
		}
	}
}
