/*
	Slides Scaling
*/
div.slideshow.scaling_fill {
	figure {
		img {
			float : none;
			left : 50%;
			margin : auto;
			top : 50%;
			position : absolute;
		}
		img.ratio_landscape {
			height : auto;
			width : 100%;
		}
		img.ratio_portrait {
			height : 100%;
			width : auto;
		}
	}
}
div.slideshow.scaling_fit {
	figure {
		img {
			float : none;
			left : 50%;
			/* margins need to be set programatically to provide centering */
			margin : auto;
			top : 50%;
			position : absolute;
		}
		img.ratio_landscape {
			height : 100%;
			width : auto;
		}
		img.ratio_portrait {
			height : auto;
			width : 100%;
		}
	}
}
